.running-line {
    position: relative;
    display: flex;
    overflow: hidden;
    white-space: nowrap;
    background-color: var(--color-primary);
    padding: 18px 12px;
}

.running-line__item {
    position: relative;
    transition: all 0.1s ease-in-out;
    padding: 0px 15px;
    font-family: 'Merriweather';
    font-size: 22px;
    line-height: 1.1;
    text-transform: uppercase;
    color: #FFFFFF;
}

.running-line__item:after {
    content: "";
    position: absolute;
    top: 0px;
    bottom: 0px;
    margin: auto;
    width: 6px;
    height: 6px;
    background: #FFFFFF;
    border-radius: 100%;
    right: -3px;
}

.running-line__wrapper {
    flex-shrink: 0;
    display: flex;
    gap: 0px;
    justify-content: space-around;
    min-width: 100%;
}

.marquee {
    animation: marquee 45s linear infinite;
}

.running-line:hover .marquee {
    animation-play-state: paused;
}